<style>
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
  body {
    background-color: #f5f8fa;
    font-family: 'Quicksand', sans-serif;
  }
  .container {
    height: 20vh;
    display: flex;
  }
  .container1, .container2, .container3 {
    flex: 1;
  }
  .container1 {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .conteiner2{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin-left: 5px;
  }
    .conteiner3{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 5px;
  }
  h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    justify-content: "center";
  }
  @media (min-width: 768px) {
    .container {
      flex-direction: row-reverse;
    }
  }
</style>
<div class = "container">
    <div class = "container3">
        <p>revisa bien el largo de los escritos</p>
    </div>

    <div class = "container1">
        <h1>Home</h1>
        <p>information must be clear</p>
    </div>
    <div class = "container2">
        <p>si es suficientemente largo deberia de separce por lineas</p>
    </div>
</div>
